@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body { 
    background: linear-gradient(180deg, #9DBEFF 0%, #FFE8D4 100%);
    font-family: "Bricolage Grotesque", Arial, Tahoma, sans-serif;
    font-size: 16px;
}
header {
    background-color:linear-gradient(180deg, #9DBEFF 0%, #FFE8D4 100%);
}
h1 {
    font-size: 48px;
    color: white;
    line-height: 200px;
    text-align: center;
}
p{
    line-height: 30px;
}
main {
    width: 1024px;
    background-color: white; 
    margin: 0 auto;
    border-radius: 20px;
}
nav {
    height: 100px;
    display: flex;
}
nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #190f33;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover {
    color: #5c48d2 ; 
}
.main-image {
    height: 400px;
    width: 1024px;
    object-fit : cover;
}
section {
   padding: 100px; 
}

.informations {
    display: flex;
    justify-content: center;
    align-items: center;
}
.informations img {
    height: 250px;
    width: 250px;
    border-radius : 50%;
    border: #9DBEFF, 2px, solid;
    object-fit : cover;
    margin-right: 80px; 
    margin-bottom: 100px;
}
.name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #190f33;
}
.statut {
    font-size: 35px;
    margin-bottom: 40px;
    color: #190f33;
}   
.city {
font-size: 30px;
color: #190f33;
}
.description {
    background-color: #FFE8D4;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

}
h2,h3 {
    color:#190f33; 
    font-weight: bold;  
}
h3 {
font-size: 35px; 
margin-bottom: 40px; 
text-align: center;
}
h2{
    font-size: 30px;
    margin-bottom:50px;
    text-align: center;
}
#education p{
    text-align: center;
}
#education img {
height: 100px;
}
#education div {
    margin-top:50px;
    margin-bottom:50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
#education span {
   font-weight: bold; 
}
#contact div {
height: 50px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}
#contact img {
height: 30px;
margin-right: 20px;
}

#contact a {
color: black;
text-decoration: none;
}

#contact a:hover{
    color:#5c48d2;
}

footer {
    height: 300px;
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
footer p {
color:  #9DBEFF;
line-height: 40px;
}
